body {
    height: 100vh;
    justify-content: flex-start;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: left;
}

header {
    width: 100vw;
    text-align: right;
}

header button {
    width: auto;
}

ol {
    width: 100%;
}

ol li.expense {
    border-left: 7px solid red;
}

ol li.income {
    border-left: 7px solid green;
}


button.danger {
    width: auto;
    float: right;
    display: none;
}

ol li:hover button.danger {
    display: block;
}

