body {
    height: 100vh;
    justify-content: flex-start;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: left;
}

header {
    width: 100vw;
    text-align: right;
}

header button {
    width: auto;
}

.transaction-form {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

.transaction-input-div {
    display: flex;
    flex-direction: row;
}